  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////

$teal : #22BDAF;
$medicalGreen : rgba(0, 85, 76, 1);
$lightGreen: rgba(0, 85, 76, 0.3);
$blood : #D93537;

$white : #FFF;
$black : #000;

$greenShadow : rgba(52, 92, 88, 1);