  ////////////////////////////////
 // COLOR PALLETE ///////////////
////////////////////////////////


// General Colors
$white : #FFF;
$black : #3D3C3E;
$darkGrey : #333;

// Brand Colors
$aqua : #1be9d6;
$gradientBlue : #039be5;
$darkBlue : #0B3F4D;
$pixelBlue : #1BCEFF;
