  ////////////////////////////////
 // NAV /////////////////////////
////////////////////////////////

nav {
	  background: $white;
	  @include box-shadow(1px 1px 1px $greenShadow);
	  cursor: pointer;
	  height: 45px;
	  position: fixed;
	  top: 120px;
	  width: 45px;
	  z-index: 1000;

	  	// on hover
	  	&:hover {
	  		background: $medicalGreen;
	  		transition: .3s;

	  		// change menu icon lines to white
	  		#hidden-menu-icon span {
	  			background: $white;
	  		}
	  	} // end hover

	  	// nav menu
	  	ul.nav-list {
  			background: $medicalGreen;
  			@include box-shadow(1px 1px 5px 1px $greenShadow);
  			display: none;
  			position: fixed;
  			height: 100%;
  			left: -250px;
  			top: 50px;
  			transtion: 15s;
  			margin: 0;	 
  			padding: 0; 		
  			width: percentage(400/1440);

  			// open nav
  			&.open {
  				display: block;
  				left: 0;

  				@include max-screen(535px){
  					width: 100%;
  				}
  			} // end open nav

  			li {
  				color: $white;
  				@include font-size(24px);
  				font-weight: 100;
  				list-style: none;
  				
  				// Close Button
  				&#closeNav {
  					border-left: 1px solid $greenShadow;
  					position: absolute;
					right: -50px;
					top: 15%;
					width: 50px;

					@include max-screen(535px){
						right: 0;
						top: 0;
					}

					button {
  						background: $medicalGreen;
  						border: 0;
  						color: $white;
  						@include font-size(18px);
  						font-weight: 800;

  						&:hover {
  							background: $white;
  							color: $medicalGreen;
  						}
					} // end close button
  				} // end close nav

  				// Link
  				a {
  					display: block;
					padding: 15px percentage(25/400);
					transition: 0.3s;

					@include max-screen(535px){
						text-align: center;
					}

					// on hover
  					&:hover {
  						background: $white;
  						color: $medicalGreen;
  						margin-left: percentage(10/400);
  						transition: .3s;
  					}

  				} // end link
  			} // end list item
	  	} // end nav list

		// nav icon
		#hidden-menu-icon {
			cursor: pointer;
			float: right;
			height: 35px;
			margin: 12px 8px 0 0;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			width: 30px;

			// line backgrounds, transforms
			span {
				background: $medicalGreen;
				display: block;
				height: 2px;
				left: 0;
				opacity: 1;
				position: absolute;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
				width: 100%;
				
				&:nth-child(1) {
					top: 0;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 1
				&:nth-child(2) {
					top: 10px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 2
				&:nth-child(3) {
					top: 20px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 3
			} // End Span

			// on nav open
			&.open {

				span {
					&:nth-child(1) {
						left: 0;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						top: -3px;
						width: 40px;							
					} // end nth child 3
					&:nth-child(2) {
						opacity: 0;
						width: 0;
					} // end nth child 2
					&:nth-child(3) { 
						left: 0;							
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top: 26px;
						width: 40px;
					} // End nth child 3
				} // End Span

			} // end Open
		} // End Hidden Menu Icon

} // End Nav <--