  ////////////////////////////////
 // NAV /////////////////////////
////////////////////////////////


nav {
	  background: $white;
	  @include box-shadow(1px 1px 1px $black);
	  height: 45px;
	  position: fixed;
	  top: 120px;
	  width: 45px;
	  z-index: 2000;

	  	// on hover
	  	&:hover {
	  		background: $black;
	  		transition: .3s;

	  		// change menu icon lines to white
	  		#hidden-menu-icon span {
	  			background: $aqua;
	  		}
	  	} // end hover

	  	// nav menu
	  	div.inner-nav {
	  		background: black;
			background-image: linear-gradient(-180deg, $black 39%, $darkBlue 100%);
  			@include box-shadow(1px 3px 15px 1px $black);
  			display: none;
  			height: 100%;
  			left: 0;
  			position: fixed;
  			top: 50px;
			width: 200px;

	  			&.open {  
	  				display: block;
	  				left: 0;
				 	transform: translate3d( 0, 0, 0 );
	                -webkit-transform: translate3d( 0, 0, 0 );
	                -webkit-transition: .35s ease-in-out;
					-moz-transition: .35s ease-in-out;
					-o-transition: .35s ease-in-out;

	  				@include max-screen(535px){
	  					width: 100%;
	  				}

	  			} // end open nav

	  			@keyframes slideUp {
	  				from {
	  					left: -300px;
	  					opacity: 0;
	  				}
	  				to {
	  					left: 0;
	  					opacity: 1;
	  				}
	  			}

	  			figure.dots {
	  				animation: slideUp 1s infinite cubic-bezier(0.87, 0.18, 1, 1);  				
		  			position: relative;

		  			svg {
		  				transition: .3s;
		  			}
	  			}
	  			
			  	ul.nav-list { 		
		  			margin: 0;	 
		  			padding: 0; 		

	  			// open nav

	  			li {
	  				color: $white;
	  				font-family: $quickSand;
	  				@include font-size(24px);
	  				font-weight: 500;
	  				list-style: none;
	  				
	  				// Nav Dots
	  				&.dots {
					    // bottom: 0;
					    // position: absolute;
					    // right: 0;  					
	  				}

	  				// Close Button
	  				&.close-nav {
	  					height: 40px;
	  					position: absolute;
						right: -40px;
						transform: translateY(-15%);
						top: 15%;
						width: 40px;

						@include max-screen(535px){
							right: 0;
							top: 0;
							transform: translateY(0);
						}

						button {
	  						background: $black;
	  						border: 0;
	  						color: $aqua;
	  						font-family: $quickSand;
	  						@include font-size(18px);
	  						font-weight: 800;

	  						&:hover {
	  							background: $black;
	  							color: $pixelBlue;
	  						}

						} // end close button
	  				} // end close nav

	  				// Link
	  				a {
	  					border-bottom: 1px dotted $pixelBlue;
	  					display: block;
						padding: 15px percentage(25/400);
						transition: 0.3s;

						@include max-screen(535px){
							text-align: center;
						}

						// on hover
	  					&:hover {
	  						color: $aqua;
	  						padding-left: percentage(40/400);
	  						transition: .3s;
	  					}

	  				} // end link
	  			} // end list item
		  	} // end nav list
	  	} // end nav menu

		// nav icon
		#hidden-menu-icon {
			cursor: pointer;
			float: right;
			height: 35px;
			margin: 12px 8px 0 0;
			position: relative;
			-webkit-transform: rotate(0deg);
			-moz-transform: rotate(0deg);
			-o-transform: rotate(0deg);
			transform: rotate(0deg);
			-webkit-transition: .5s ease-in-out;
			-moz-transition: .5s ease-in-out;
			-o-transition: .5s ease-in-out;
			transition: .5s ease-in-out;
			width: 30px;

			// line backgrounds, transforms
			span {
				background: $black;
				display: block;
				height: 2px;
				left: 0;
				opacity: 1;
				position: absolute;
				-webkit-transform: rotate(0deg);
				-moz-transform: rotate(0deg);
				-o-transform: rotate(0deg);
				transform: rotate(0deg);
				-webkit-transition: .25s ease-in-out;
				-moz-transition: .25s ease-in-out;
				-o-transition: .25s ease-in-out;
				transition: .25s ease-in-out;
				width: 100%;
				
				&:nth-child(1) {
					top: 0;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 1
				&:nth-child(2) {
					top: 10px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 2
				&:nth-child(3) {
					top: 20px;
					-webkit-transform-origin: left center;
					-moz-transform-origin: left center;
					-o-transform-origin: left center;
					transform-origin: left center;
				} // end nth child 3
			} // End Span

			// on nav open
			&.open {

				span {
					&:nth-child(1) {
						left: 0;
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
						top: -3px;
						width: 40px;							
					} // end nth child 3
					&:nth-child(2) {
						opacity: 0;
						width: 0;
					} // end nth child 2
					&:nth-child(3) { 
						left: 0;							
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
						top: 26px;
						width: 40px;
					} // End nth child 3
				} // End Span

			} // end Open
		} // End Hidden Menu Icon

} // End Nav

// For Nav Animation
main.shift {
	overflow: hidden;
	transition: 0;
	transform: translate3d(350px, 0, 0);
	-wekbit-transform: translate3d(350px, 0, 0);
	-moz-transform: translate3d(350px, 0, 0);
} // End Main <--
