  /////////////////////////////////////////
 // Components ///////////////////////////
/////////////////////////////////////////

div.loading {
	margin: 0 auto;
	max-width: 43px;
	width: percentage(43/960);
}