/********************************/
/* Global Site Color Variables */
/******************************/
/********************************/
/* Global Site FONT Variables */
/******************************/
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
/* line 8, ../sass/0_Utility/_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide Element
 */
/* line 15, ../sass/0_Utility/_helper.scss */
.hide {
  display: none;
}

/*
 * Clear children elements that are floating with hiding overflow on parent div
 */
/* line 21, ../sass/0_Utility/_helper.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 24, ../sass/0_Utility/_helper.scss */
.overflow-hidden-x {
  overflow-x: hidden;
}

/*
 * Sets Image to be 100% to it's container and remain aspect ratio
 */
/* line 31, ../sass/0_Utility/_helper.scss */
img {
  width: 100%;
  height: auto;
}

/*
 * Float elements left
 */
/* line 39, ../sass/0_Utility/_helper.scss */
.left {
  float: left;
}

/*
 * Float elements right
 */
/* line 47, ../sass/0_Utility/_helper.scss */
.right {
  float: right;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 54, ../sass/0_Utility/_helper.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 62, ../sass/0_Utility/_helper.scss */
.clearfix:before, .row:before,
.clearfix:after,
.row:after {
  content: "";
  display: table;
}

/* line 68, ../sass/0_Utility/_helper.scss */
.clearfix:after, .row:after {
  clear: both;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 12, ../sass/0_Utility/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../sass/0_Utility/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/0_Utility/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 51, ../sass/0_Utility/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 65, ../sass/0_Utility/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 75, ../sass/0_Utility/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 87, ../sass/0_Utility/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/0_Utility/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 109, ../sass/0_Utility/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 118, ../sass/0_Utility/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../sass/0_Utility/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 135, ../sass/0_Utility/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 143, ../sass/0_Utility/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 153, ../sass/0_Utility/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 162, ../sass/0_Utility/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 174, ../sass/0_Utility/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 182, ../sass/0_Utility/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 190, ../sass/0_Utility/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../sass/0_Utility/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 206, ../sass/0_Utility/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 210, ../sass/0_Utility/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 222, ../sass/0_Utility/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 230, ../sass/0_Utility/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 242, ../sass/0_Utility/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 254, ../sass/0_Utility/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 265, ../sass/0_Utility/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 276, ../sass/0_Utility/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../sass/0_Utility/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../sass/0_Utility/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 315, ../sass/0_Utility/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../sass/0_Utility/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../sass/0_Utility/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 349, ../sass/0_Utility/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../sass/0_Utility/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 381, ../sass/0_Utility/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 394, ../sass/0_Utility/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 9, ../sass/1_Core/_layout.scss */
.outer-wrapper {
  position: relative;
  width: 100%;
}

/* line 14, ../sass/1_Core/_layout.scss */
.inner-wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  width: 90%;
}

/* line 22, ../sass/1_Core/_layout.scss */
img {
  height: auto;
  width: 100%;
}

/* line 26, ../sass/1_Core/_layout.scss */
.row {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
}

/* line 31, ../sass/1_Core/_layout.scss */
.col {
  padding: 2px;
}
/* line 34, ../sass/1_Core/_layout.scss */
.col:last-child {
  margin-right: 0;
}

/* line 39, ../sass/1_Core/_layout.scss */
.span_12 {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 43, ../sass/1_Core/_layout.scss */
.span_8 {
  width: 66.41221%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 47, ../sass/1_Core/_layout.scss */
.span_4 {
  width: 32.82443%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 52, ../sass/1_Core/_layout.scss */
.span_8 + .span_4 {
  width: 32.82443%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 56, ../sass/1_Core/_layout.scss */
.span_4 + .span_8 {
  width: 66.41221%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 60, ../sass/1_Core/_layout.scss */
.span_6 {
  width: 49.61832%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 64, ../sass/1_Core/_layout.scss */
.span_3 {
  width: 24.42748%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}
@media screen and (max-width: 960px) {
  /* line 64, ../sass/1_Core/_layout.scss */
  .span_3 {
    width: 50%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
@media screen and (max-width: 640px) {
  /* line 64, ../sass/1_Core/_layout.scss */
  .span_3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 76, ../sass/1_Core/_layout.scss */
.span_4 {
  width: 32.82443%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}
@media screen and (max-width: 960px) {
  /* line 76, ../sass/1_Core/_layout.scss */
  .span_4 {
    width: 50%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
@media screen and (max-width: 640px) {
  /* line 76, ../sass/1_Core/_layout.scss */
  .span_4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/*
 * Main Typefaces being used
 */
/*
 * Emphasised/Italic Text
 */
/* line 58, ../sass/1_Core/_typography.scss */
em {
  font-style: italic;
}

/*
 * Bolded, Strong Text
 */
/* line 65, ../sass/1_Core/_typography.scss */
strong {
  font-weight: bold;
}

/* line 4, ../sass/2_Pieces/_buttons.scss */
[data-role="top-btn"] {
  background: #00554c;
  -moz-border-radius: 360px;
  -webkit-border-radius: 360px;
  border-radius: 360px;
  -moz-box-shadow: 0 0 5px #00554c;
  -webkit-box-shadow: 0 0 5px #00554c;
  box-shadow: 0 0 5px #00554c;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  color: #FFF;
  display: block;
  height: 100%;
  text-align: center;
}
/* line 14, ../sass/2_Pieces/_buttons.scss */
[data-role="top-btn"]:hover {
  background: #1a9287;
}

/* line 20, ../sass/2_Pieces/_buttons.scss */
[data-role="button"], .button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 100%;
}
/* line 26, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover, [data-role="button"]:active, [data-role="button"]:focus, [data-role="button"]:visited, .button:hover, .button:active, .button:focus, .button:visited {
  text-decoration: none;
}
/* line 34, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover, .button:hover {
  background: #ce2729;
  transition: .3s;
}
/* line 39, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:active, [data-role="button"]:focus, .button:active, .button:focus {
  background: #a31f20;
}
/* line 45, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?1tlota");
  src: url("/fonts/icomoon/icomoon.eot?#iefix1tlota") format("embedded-opentype"), url("/fonts/icomoon/icomoon.woff?1tlota") format("woff"), url("/fonts/icomoon/icomoon.ttf?1tlota") format("truetype"), url("/fonts/icomoon/icomoon.svg?1tlota#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 16, ../sass/2_Pieces/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../sass/2_Pieces/_icons.scss */
.icon-zoomin:before {
  content: "\e60e";
}

/* line 33, ../sass/2_Pieces/_icons.scss */
.icon-sad:before {
  content: "\e609";
}

/* line 36, ../sass/2_Pieces/_icons.scss */
.icon-point-up:before {
  content: "\e60a";
}

/* line 39, ../sass/2_Pieces/_icons.scss */
.icon-mail:before {
  content: "\e605";
}

/* line 42, ../sass/2_Pieces/_icons.scss */
.icon-github:before {
  content: "\e608";
}

/* line 45, ../sass/2_Pieces/_icons.scss */
.icon-linkedin:before {
  content: "\e60b";
}

/* line 48, ../sass/2_Pieces/_icons.scss */
.icon-file-pdf:before {
  content: "\e60c";
}

/* line 51, ../sass/2_Pieces/_icons.scss */
.icon-file-word:before {
  content: "\e60d";
}

/* line 6, ../sass/3_Components/_component.scss */
div.loading {
  margin: 0 auto;
  max-width: 43px;
  width: 4.47917%;
}

/* line 13, ../sass/3_Components/_component.scss */
.scroll-top {
  background: white;
  -moz-box-shadow: 1px 1px 1px #345c58;
  -webkit-box-shadow: 1px 1px 1px #345c58;
  box-shadow: 1px 1px 1px #345c58;
  cursor: pointer;
  bottom: 0;
  height: 40px;
  position: fixed;
  right: 0;
  width: 40px;
  z-index: 1000;
}
/* line 24, ../sass/3_Components/_component.scss */
.scroll-top:hover {
  background: #00554c;
}
/* line 28, ../sass/3_Components/_component.scss */
.scroll-top:hover span {
  color: white;
}
/* line 34, ../sass/3_Components/_component.scss */
.scroll-top span {
  color: #00554c;
  font-size: 15px;
  font-size: 1.15385rem;
  line-height: 18.75px;
  line-height: 1.44231rem;
  display: block;
  margin: 10px auto;
  width: 15px;
}

/* line 44, ../sass/3_Components/_component.scss */
.pixel-view {
  transition: 0.3s;
  margin-top: 70px;
  position: relative;
}
@media screen and (max-width: 1160px) {
  /* line 44, ../sass/3_Components/_component.scss */
  .pixel-view {
    padding-left: 50px;
  }
}

/* line 5, ../sass/4_Regions/_footer.scss */
footer {
  background: #00554c;
  display: none;
  margin-top: 45px;
  overflow: hidden;
}
/* line 12, ../sass/4_Regions/_footer.scss */
footer span.copyright {
  font-size: 11px;
  font-size: 0.84615rem;
  line-height: 13.75px;
  line-height: 1.05769rem;
}
/* line 16, ../sass/4_Regions/_footer.scss */
footer section.illustration {
  background: url(../../images/footer-bottom.png) no-repeat right 85px #22bdaf;
  background-size: 1000px;
  -moz-background-size: 1000px;
  -ms-background-size: 1000px;
  height: 417px;
  transition: .3s;
}
@media screen and (max-width: 1000px) {
  /* line 16, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: 130px 85px;
  }
}
@media screen and (max-width: 850px) {
  /* line 16, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: 0 85px;
  }
}
@media screen and (max-width: 405px) {
  /* line 16, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: -25px 145px;
  }
}
/* line 37, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote {
  position: absolute;
  right: 50px;
  text-align: right;
  top: 75px;
  transition: .3s;
  width: 27.77778%;
}
@media screen and (max-width: 1055px) {
  /* line 37, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 37, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    top: 30px;
  }
}
@media screen and (max-width: 720px) {
  /* line 37, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    right: 100px;
    width: 41.66667%;
  }
}
@media screen and (max-width: 650px) {
  /* line 37, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    margin-top: 0;
    top: 50px;
    width: 40%;
    right: 50px;
  }
}
@media screen and (max-width: 405px) {
  /* line 37, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    right: 0;
    top: 20px;
  }
}
/* line 70, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote p {
  font-family: "Oleo Script", Arial, Sans Serif;
  font-weight: 100;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  text-shadow: 1px 1px #345c58;
  line-height: 1.5em;
}
/* line 79, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote strong {
  color: #00554c;
  font-size: 15px;
  font-size: 1.15385rem;
  line-height: 18.75px;
  line-height: 1.44231rem;
  font-weight: 100;
  text-shadow: 1px 1px 1px white;
}
@media screen and (max-width: 650px) {
  /* line 87, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote p {
    font-size: 14px;
    font-size: 1.07692rem;
    line-height: 17.5px;
    line-height: 1.34615rem;
  }
  /* line 90, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote strong {
    font-size: 14px;
    font-size: 1.07692rem;
    line-height: 17.5px;
    line-height: 1.34615rem;
  }
}

/* line 5, ../sass/4_Regions/_header.scss */
header.outer-wrapper {
  background: white;
  -moz-box-shadow: 1px 1px 10px 1px #345c58;
  -webkit-box-shadow: 1px 1px 10px 1px #345c58;
  box-shadow: 1px 1px 10px 1px #345c58;
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 15, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row {
  margin: 0;
}
/* line 19, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo {
  float: left;
  max-width: 115px;
  min-width: 115px;
  width: 12.5%;
}
/* line 25, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo a {
  display: block;
}
/* line 27, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo a:hover {
  opacity: 0.4;
  transition: .3s;
}
/* line 35, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social {
  float: right;
  overflow: hidden;
  padding: 0;
  transition: .3s;
  width: 7.29167%;
}
@media screen and (max-width: 1145px) {
  /* line 35, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 13.02083%;
  }
}
@media screen and (max-width: 650px) {
  /* line 35, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 15.625%;
  }
}
@media screen and (max-width: 545px) {
  /* line 35, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 20.83333%;
  }
}
@media screen and (max-width: 410px) {
  /* line 35, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 31.25%;
  }
}
/* line 58, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li {
  float: left;
  list-style: none;
  margin-right: 10%;
}
/* line 63, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li:last-child {
  margin-right: 0;
}
/* line 67, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li:hover span {
  transition: .3s;
  opacity: 0.4;
}
/* line 74, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li span {
  color: #22bdaf;
  font-size: 16px;
  font-size: 1.23077rem;
  line-height: 20px;
  line-height: 1.53846rem;
}

/* line 9, ../sass/4_Regions/_hero.scss */
section.hero div.hero-blurb h1 {
  font-family: "Oleo Script", Arial, Sans Serif;
  font-size: 32px;
  font-size: 2.46154rem;
  line-height: 40px;
  line-height: 3.07692rem;
  text-shadow: 1px 1px 1px #345c58;
}
/* line 18, ../sass/4_Regions/_hero.scss */
section.hero .callout.intro h2 {
  font-family: "Oleo Script", Arial, Sans Serif;
  font-size: 24px;
  font-size: 1.84615rem;
  line-height: 30px;
  line-height: 2.30769rem;
  margin: 0 0 5px 0;
  text-shadow: 1px 1px 1px #345c58;
}
/* line 24, ../sass/4_Regions/_hero.scss */
section.hero .callout.intro p {
  color: #00554c;
  font-size: 19px;
  font-size: 1.46154rem;
  line-height: 23.75px;
  line-height: 1.82692rem;
  font-weight: 100;
  line-height: 1.8em;
  margin-top: 0;
  text-shadow: 1px 1px 1px white;
}
/* line 36, ../sass/4_Regions/_hero.scss */
section.hero .hero-skills {
  width: 31.25%;
}
/* line 39, ../sass/4_Regions/_hero.scss */
section.hero .hero-skills li {
  background: rgba(0, 85, 76, 0.4);
  list-style: none;
  margin: 8.33333%;
  padding: 1.66667%;
  text-align: center;
}
/* line 46, ../sass/4_Regions/_hero.scss */
section.hero .hero-skills li p {
  color: white;
  font-size: 16px;
  font-size: 1.23077rem;
  line-height: 20px;
  line-height: 1.53846rem;
  font-weight: 100;
}

/* line 5, ../sass/4_Regions/_nav.scss */
nav {
  background: white;
  -moz-box-shadow: 1px 1px 1px #345c58;
  -webkit-box-shadow: 1px 1px 1px #345c58;
  box-shadow: 1px 1px 1px #345c58;
  cursor: pointer;
  height: 45px;
  position: fixed;
  top: 120px;
  width: 45px;
  z-index: 1000;
}
/* line 16, ../sass/4_Regions/_nav.scss */
nav:hover {
  background: #00554c;
  transition: .3s;
}
/* line 21, ../sass/4_Regions/_nav.scss */
nav:hover #hidden-menu-icon span {
  background: white;
}
/* line 27, ../sass/4_Regions/_nav.scss */
nav ul.nav-list {
  background: #00554c;
  -moz-box-shadow: 1px 1px 5px 1px #345c58;
  -webkit-box-shadow: 1px 1px 5px 1px #345c58;
  box-shadow: 1px 1px 5px 1px #345c58;
  display: none;
  position: fixed;
  height: 100%;
  left: 0;
  top: 50px;
  transtion: 5s;
  margin: 0;
  padding: 0;
  width: 400px;
}
/* line 41, ../sass/4_Regions/_nav.scss */
nav ul.nav-list.open {
  display: block;
  transition: 5s;
  left: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
}
@media screen and (max-width: 535px) {
  /* line 41, ../sass/4_Regions/_nav.scss */
  nav ul.nav-list.open {
    width: 100%;
  }
}
/* line 57, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li {
  color: white;
  font-size: 24px;
  font-size: 1.84615rem;
  line-height: 30px;
  line-height: 2.30769rem;
  font-weight: 100;
  list-style: none;
}
/* line 64, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li#closeNav {
  border-left: 1px solid #345c58;
  position: absolute;
  right: -50px;
  top: 15%;
  width: 50px;
}
@media screen and (max-width: 535px) {
  /* line 64, ../sass/4_Regions/_nav.scss */
  nav ul.nav-list li#closeNav {
    right: 0;
    top: 0;
  }
}
/* line 76, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li#closeNav button {
  background: #00554c;
  border: 0;
  color: white;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  font-weight: 800;
}
/* line 83, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li#closeNav button:hover {
  background: white;
  color: #00554c;
}
/* line 92, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li a {
  border-bottom: 1px dotted rgba(109, 134, 94, 0.6);
  display: block;
  padding: 15px 6.25%;
  transition: 0.3s;
}
@media screen and (max-width: 535px) {
  /* line 92, ../sass/4_Regions/_nav.scss */
  nav ul.nav-list li a {
    text-align: center;
  }
}
/* line 103, ../sass/4_Regions/_nav.scss */
nav ul.nav-list li a:hover {
  background: white;
  color: #00554c;
  padding-left: 7.5%;
  transition: .3s;
}
/* line 115, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon {
  cursor: pointer;
  float: right;
  height: 35px;
  margin: 12px 8px 0 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 30px;
}
/* line 132, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span {
  background: #00554c;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  width: 100%;
}
/* line 149, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 156, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 163, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 176, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(1) {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  width: 40px;
}
/* line 185, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}
/* line 189, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(3) {
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  width: 40px;
}

/* line 206, ../sass/4_Regions/_nav.scss */
main.shift {
  overflow: hidden;
  transition: 0;
  transform: translate3d(350px, 0, 0);
  -wekbit-transform: translate3d(350px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0);
}

/* line 5, ../sass/6_Pages/_404.scss */
.page-not-found {
  background-image: none !important;
  height: initial !important;
}
/* line 9, ../sass/6_Pages/_404.scss */
.page-not-found .sad-face {
  vertical-align: -3px;
}
/* line 17, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four {
  margin: 100px 0 0 0;
}
@media screen and (max-width: 960px) {
  /* line 17, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four {
    margin-top: 0;
    transition: 1s;
  }
  /* line 24, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four figure.face {
    display: none;
    transition: .5s;
  }
}
/* line 31, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message {
  margin-top: 120px;
  padding: 50px;
}
/* line 35, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message img {
  display: none;
  margin: 50px auto 0;
  width: 80%;
}
@media screen and (max-width: 960px) {
  /* line 31, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message {
    margin-top: 50px;
    padding: 0;
    transition: .5s;
    width: 100%;
  }
  /* line 47, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message img {
    display: block;
  }
}
/* line 53, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message ul {
  color: white;
}
/* line 57, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message a.home {
  background: #d93537;
  margin-top: 25px;
  width: 50%;
}
/* line 62, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message a.home:hover {
  background: #00534b;
}
@media screen and (max-width: 960px) {
  /* line 57, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message a.home {
    transition: .3s;
    width: 100%;
  }
}

/* line 5, ../sass/6_Pages/_hero.scss */
section.hero {
  height: 100%;
  min-height: 100%;
}
/* line 12, ../sass/6_Pages/_hero.scss */
section.hero .inner-callouts .callout:last-child {
  margin-right: 0;
}
/* line 19, ../sass/6_Pages/_hero.scss */
section.hero .bottom-callouts .callout:last-child {
  margin-right: 0;
}

/* line 22, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 26, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/screen.scss */
body {
  background: url(../../../images/background.jpg) repeat;
  color: white;
  font-family: "Open Sans", Arial, Sans Serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 12px;
  font-size: 0.92308rem;
  line-height: 15px;
  line-height: 1.15385rem;
  line-height: 1.5em;
}

/* line 41, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
}
