/********************************/
/* Global Site Color Variables */
/******************************/
/********************************/
/* Global Site FONT Variables */
/******************************/
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300);
@import url(http://fonts.googleapis.com/css?family=Oleo+Script:400,700);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One);
@import url(https://fonts.googleapis.com/css?family=Alegreya:400,900italic,400italic,700,700italic,900);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* line 9, ../sass/0_Utility/_helper.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide Element
 */
/* line 16, ../sass/0_Utility/_helper.scss */
.hide {
  display: none;
}

/*
 * Clear children elements that are floating with hiding overflow on parent div
 */
/* line 22, ../sass/0_Utility/_helper.scss */
.overflow-hidden {
  overflow: hidden;
}

/* line 25, ../sass/0_Utility/_helper.scss */
.overflow-hidden-x {
  overflow-x: hidden;
}

/*
 * Sets Image to be 100% to it's container and remain aspect ratio
 */
/* line 32, ../sass/0_Utility/_helper.scss */
img {
  width: 100%;
  height: auto;
}

/*
 * Float elements left
 */
/* line 40, ../sass/0_Utility/_helper.scss */
.left {
  float: left;
}

/*
 * Float elements right
 */
/* line 48, ../sass/0_Utility/_helper.scss */
.right {
  float: right;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 55, ../sass/0_Utility/_helper.scss */
.invisible {
  visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */
/* line 63, ../sass/0_Utility/_helper.scss */
.clearfix:before, .row:before,
.clearfix:after,
.row:after {
  content: "";
  display: table;
}

/* line 69, ../sass/0_Utility/_helper.scss */
.clearfix:after, .row:after {
  clear: both;
}

/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 12, ../sass/0_Utility/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../sass/0_Utility/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 42, ../sass/0_Utility/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 51, ../sass/0_Utility/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 65, ../sass/0_Utility/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 75, ../sass/0_Utility/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 87, ../sass/0_Utility/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 95, ../sass/0_Utility/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 109, ../sass/0_Utility/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 118, ../sass/0_Utility/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 126, ../sass/0_Utility/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 135, ../sass/0_Utility/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 143, ../sass/0_Utility/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 153, ../sass/0_Utility/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 162, ../sass/0_Utility/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 174, ../sass/0_Utility/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 182, ../sass/0_Utility/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 190, ../sass/0_Utility/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 198, ../sass/0_Utility/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 206, ../sass/0_Utility/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 210, ../sass/0_Utility/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 222, ../sass/0_Utility/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 230, ../sass/0_Utility/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 242, ../sass/0_Utility/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 254, ../sass/0_Utility/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 265, ../sass/0_Utility/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 276, ../sass/0_Utility/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 290, ../sass/0_Utility/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 302, ../sass/0_Utility/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 315, ../sass/0_Utility/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 327, ../sass/0_Utility/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 337, ../sass/0_Utility/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 349, ../sass/0_Utility/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 370, ../sass/0_Utility/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 381, ../sass/0_Utility/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 394, ../sass/0_Utility/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../sass/1_Core/_layout.scss */
.outer-wrapper {
  position: relative;
  width: 100%;
}

/* line 15, ../sass/1_Core/_layout.scss */
.inner-wrapper {
  position: relative;
  max-width: 1120px;
  margin: 0 auto;
  width: 90%;
}

/* line 23, ../sass/1_Core/_layout.scss */
img {
  height: auto;
  width: 100%;
}

/* line 27, ../sass/1_Core/_layout.scss */
.row {
  margin-top: 24px;
  margin-top: 1.5rem;
  margin-bottom: 24px;
  margin-bottom: 1.5rem;
  padding-top: 0px;
  padding-top: 0rem;
  padding-bottom: 0px;
  padding-bottom: 0rem;
}

/* line 32, ../sass/1_Core/_layout.scss */
.col {
  padding: 2px;
}
/* line 35, ../sass/1_Core/_layout.scss */
.col:last-child {
  margin-right: 0;
}

/* line 40, ../sass/1_Core/_layout.scss */
.span_12 {
  width: 100%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 44, ../sass/1_Core/_layout.scss */
.span_8 {
  width: 66.41221%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 48, ../sass/1_Core/_layout.scss */
.span_4 {
  width: 32.82443%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 53, ../sass/1_Core/_layout.scss */
.span_8 + .span_4 {
  width: 32.82443%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 57, ../sass/1_Core/_layout.scss */
.span_4 + .span_8 {
  width: 66.41221%;
  clear: right;
  float: right;
  margin-right: 0;
}

/* line 61, ../sass/1_Core/_layout.scss */
.span_6 {
  width: 49.61832%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}

/* line 65, ../sass/1_Core/_layout.scss */
.span_3 {
  width: 24.42748%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}
@media screen and (max-width: 960px) {
  /* line 65, ../sass/1_Core/_layout.scss */
  .span_3 {
    width: 50%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
@media screen and (max-width: 640px) {
  /* line 65, ../sass/1_Core/_layout.scss */
  .span_3 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/* line 77, ../sass/1_Core/_layout.scss */
.span_4 {
  width: 32.82443%;
  clear: right;
  float: left;
  margin-left: 0;
  margin-right: 0.76336%;
}
@media screen and (max-width: 960px) {
  /* line 77, ../sass/1_Core/_layout.scss */
  .span_4 {
    width: 50%;
    clear: right;
    float: left;
    margin-left: 0;
    margin-right: 0%;
  }
}
@media screen and (max-width: 640px) {
  /* line 77, ../sass/1_Core/_layout.scss */
  .span_4 {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
  }
}

/*
 * Main Typefaces being used
 */
/*
 * Emphasised/Italic Text
 */
/* line 71, ../sass/1_Core/_typography.scss */
em {
  font-style: italic;
}

/*
 * Bolded, Strong Text
 */
/* line 78, ../sass/1_Core/_typography.scss */
strong {
  font-weight: bold;
}

@keyframes slideOut {
  /* line 7, ../sass/2_Pieces/_animations.scss */
  0% {
    background: white;
    width: 0;
    opacity: 0;
  }

  /* line 12, ../sass/2_Pieces/_animations.scss */
  50% {
    opacity: .5;
  }

  /* line 15, ../sass/2_Pieces/_animations.scss */
  100% {
    width: 100%;
  }
}
@keyframes loaderLiquidFade {
  /* line 21, ../sass/2_Pieces/_animations.scss */
  from {
    opacity: .1;
  }

  /* line 24, ../sass/2_Pieces/_animations.scss */
  to {
    opacity: .45;
  }
}
@keyframes loaderBorder {
  /* line 30, ../sass/2_Pieces/_animations.scss */
  from {
    stroke-dasharray: -50px;
    opacity: .6;
  }

  /* line 34, ../sass/2_Pieces/_animations.scss */
  to {
    stroke-dasharray: 250px;
    opacity: 1;
  }
}
@keyframes liquidMove {
  /* line 41, ../sass/2_Pieces/_animations.scss */
  from {
    stroke-dashoffset: 9;
  }
}
@keyframes testTubeFade {
  /* line 47, ../sass/2_Pieces/_animations.scss */
  from {
    fill: #0b3f4d;
    opacity: .5;
  }

  /* line 51, ../sass/2_Pieces/_animations.scss */
  to {
    fill: #039be5;
    opacity: 1;
  }
}
@keyframes bubbleShift {
  /* line 58, ../sass/2_Pieces/_animations.scss */
  from {
    top: -20px;
    left: -20px;
    position: relative;
  }

  /* line 63, ../sass/2_Pieces/_animations.scss */
  to {
    left: initial;
    top: initial;
  }
}
@keyframes fireFade {
  /* line 70, ../sass/2_Pieces/_animations.scss */
  from {
    fill: #FC5F0B;
  }

  /* line 73, ../sass/2_Pieces/_animations.scss */
  to {
    fill: #AF4107;
  }
}
/* line 78, ../sass/2_Pieces/_animations.scss */
.fireFade {
  animation: fireFade 1s infinite linear;
  animation-direction: alternate;
}

@keyframes slideDown {
  /* line 84, ../sass/2_Pieces/_animations.scss */
  from {
    height: 0;
  }

  /* line 87, ../sass/2_Pieces/_animations.scss */
  to {
    height: initial;
  }
}
@keyframes foldIn {
  /* line 93, ../sass/2_Pieces/_animations.scss */
  from {
    transform: translateZ(-50px) rotateX(-90deg);
  }

  /* line 96, ../sass/2_Pieces/_animations.scss */
  to {
    transform: translateZ(-50px) rotateX(0deg);
  }
}
@keyframes rotateY {
  /* line 101, ../sass/2_Pieces/_animations.scss */
  from {
    transform: perspective(0) rotateY(180deg);
  }

  /* line 104, ../sass/2_Pieces/_animations.scss */
  to {
    transform: perspective(0) rotateY(0deg);
  }
}
@keyframes flip {
  /* line 109, ../sass/2_Pieces/_animations.scss */
  from {
    transform: rotate3d(1, 2, 3, 360deg);
  }

  /* line 112, ../sass/2_Pieces/_animations.scss */
  to {
    transform: rotate3d(1, 2, 3, 0deg);
  }
}
@keyframes turn {
  /* line 118, ../sass/2_Pieces/_animations.scss */
  from {
    transform: rotate(5turn);
  }

  /* line 121, ../sass/2_Pieces/_animations.scss */
  to {
    transform: rotate(0turn);
  }
}
@keyframes flyIn {
  /* line 127, ../sass/2_Pieces/_animations.scss */
  from {
    transform: scale(0.95);
  }

  /* line 130, ../sass/2_Pieces/_animations.scss */
  to {
    transform: scale(1);
  }
}
@keyframes innerShadow {
  /* line 136, ../sass/2_Pieces/_animations.scss */
  from {
    box-shadow: inset 0px 1px 69px 0px #0B3F4D;
  }

  /* line 139, ../sass/2_Pieces/_animations.scss */
  to {
    box-shadow: inset 0px 0px 0px 0px transparent;
  }
}
/* line 6, ../sass/2_Pieces/_buttons.scss */
[data-role="top-btn"] {
  background: #3d3c3e;
  -moz-border-radius: 360px;
  -webkit-border-radius: 360px;
  border-radius: 360px;
  -moz-box-shadow: 0 0 5px #3d3c3e;
  -webkit-box-shadow: 0 0 5px #3d3c3e;
  box-shadow: 0 0 5px #3d3c3e;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  color: #FFF;
  display: block;
  height: 100%;
  text-align: center;
}
/* line 16, ../sass/2_Pieces/_buttons.scss */
[data-role="top-btn"]:hover {
  background: #232324;
}

/* line 22, ../sass/2_Pieces/_buttons.scss */
[data-role="button"], .button {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 100%;
}
/* line 28, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover, [data-role="button"]:active, [data-role="button"]:focus, [data-role="button"]:visited, .button:hover, .button:active, .button:focus, .button:visited {
  text-decoration: none;
}
/* line 36, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:hover, .button:hover {
  background: #302f31;
  transition: .3s;
}
/* line 41, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]:active, [data-role="button"]:focus, .button:active, .button:focus {
  background: #171617;
}
/* line 47, ../sass/2_Pieces/_buttons.scss */
[data-role="button"]::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon/icomoon.eot?1tlota");
  src: url("/fonts/icomoon/icomoon.eot?#iefix1tlota") format("embedded-opentype"), url("/fonts/icomoon/icomoon.woff?1tlota") format("woff"), url("/fonts/icomoon/icomoon.ttf?1tlota") format("truetype"), url("/fonts/icomoon/icomoon.svg?1tlota#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 17, ../sass/2_Pieces/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 31, ../sass/2_Pieces/_icons.scss */
.icon-zoomin:before {
  content: "\e60e";
}

/* line 34, ../sass/2_Pieces/_icons.scss */
.icon-sad:before {
  content: "\e609";
}

/* line 37, ../sass/2_Pieces/_icons.scss */
.icon-point-up:before {
  content: "\e60a";
}

/* line 40, ../sass/2_Pieces/_icons.scss */
.icon-mail:before {
  content: "\e605";
}

/* line 43, ../sass/2_Pieces/_icons.scss */
.icon-github:before {
  content: "\e608";
}

/* line 46, ../sass/2_Pieces/_icons.scss */
.icon-linkedin:before {
  content: "\e60b";
}

/* line 49, ../sass/2_Pieces/_icons.scss */
.icon-file-pdf:before {
  content: "\e60c";
}

/* line 52, ../sass/2_Pieces/_icons.scss */
.icon-file-word:before {
  content: "\e60d";
}

/* line 9, ../sass/3_Components/_component.scss */
main div.loading {
  background: -webkit-linear-gradient(top, #1be9d6, #039be5);
  background: -o-linear-gradient(top, #1be9d6, #039be5);
  background: -moz-linear-gradient(top, #1be9d6, #039be5);
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
/* line 18, ../sass/3_Components/_component.scss */
main div.loading svg.loader-svg {
  animation: loaderBorder 0.8s infinite cubic-bezier(0.9, 0.19, 1, 1);
  position: absolute;
  left: 50%;
  stroke-dashoffset: -30px;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 10.41667%;
}
/* line 27, ../sass/3_Components/_component.scss */
main div.loading svg.loader-svg .bubble,
main div.loading svg.loader-svg .liquid {
  animation: loaderLiquidFade 0.5s infinite cubic-bezier(1, -0.94, 1, 1);
  animation-direction: alternate;
  animation-play-state: running;
  opacity: .5;
}
/* line 35, ../sass/3_Components/_component.scss */
main div.loading svg.loader-svg .outer-glow {
  stroke: #1be9d6;
}
/* line 37, ../sass/3_Components/_component.scss */
main div.loading svg.loader-svg .outer-glow.special {
  stroke: transparent;
  fill: #1be9d6;
}
/* line 53, ../sass/3_Components/_component.scss */
main .pixel-view {
  transition: 0.3s;
  margin-top: 50px;
  position: relative;
  height: 100%;
}
/* line 59, ../sass/3_Components/_component.scss */
main .pixel-view.hero {
  margin-top: 0;
}
@media screen and (max-width: 1160px) {
  /* line 53, ../sass/3_Components/_component.scss */
  main .pixel-view {
    padding-left: 50px;
  }
}
/* line 68, ../sass/3_Components/_component.scss */
main .dev-skills {
  display: table;
  width: 31.25%;
}
/* line 72, ../sass/3_Components/_component.scss */
main .dev-skills li {
  background: white;
  display: table-cell;
  list-style: none;
  margin: 8.33333%;
  padding: 1.66667%;
  text-align: center;
}
/* line 80, ../sass/3_Components/_component.scss */
main .dev-skills li p {
  color: #3d3c3e;
  font-size: 16px;
  font-size: 1.23077rem;
  line-height: 20px;
  line-height: 1.53846rem;
  font-weight: 100;
}

/* line 6, ../sass/4_Regions/_footer.scss */
footer {
  background: #3d3c3e;
  font-size: 11px;
  font-size: 0.84615rem;
  line-height: 13.75px;
  line-height: 1.05769rem;
  overflow: hidden;
  display: none;
}
/* line 13, ../sass/4_Regions/_footer.scss */
footer ul.nav-list {
  float: right;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 20.83333%;
}
/* line 20, ../sass/4_Regions/_footer.scss */
footer ul.nav-list li {
  float: left;
  list-style: none;
  margin-right: 7.5%;
}
/* line 26, ../sass/4_Regions/_footer.scss */
footer ul.nav-list li a:hover {
  text-decoration: underline;
}
/* line 30, ../sass/4_Regions/_footer.scss */
footer ul.nav-list li:nth-child(4) {
  margin-right: 0;
}
/* line 35, ../sass/4_Regions/_footer.scss */
footer ul.nav-list li.close-nav {
  display: none;
}
/* line 43, ../sass/4_Regions/_footer.scss */
footer section.illustration {
  background: url(../../images/footer-bottom.png) no-repeat right 85px;
  background-size: 1000px;
  -moz-background-size: 1000px;
  -ms-background-size: 1000px;
  height: 417px;
  transition: .3s;
}
@media screen and (max-width: 1000px) {
  /* line 43, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: 130px 85px;
  }
}
@media screen and (max-width: 850px) {
  /* line 43, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: 0 85px;
  }
}
@media screen and (max-width: 405px) {
  /* line 43, ../sass/4_Regions/_footer.scss */
  footer section.illustration {
    background-position: -25px 145px;
  }
}
/* line 64, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote {
  position: absolute;
  right: 50px;
  text-align: right;
  top: 75px;
  transition: .3s;
  width: 27.77778%;
}
@media screen and (max-width: 1055px) {
  /* line 64, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    top: 50px;
  }
}
@media screen and (max-width: 1000px) {
  /* line 64, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    top: 30px;
  }
}
@media screen and (max-width: 720px) {
  /* line 64, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    right: 100px;
    width: 41.66667%;
  }
}
@media screen and (max-width: 650px) {
  /* line 64, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    margin-top: 0;
    top: 50px;
    width: 40%;
    right: 50px;
  }
}
@media screen and (max-width: 405px) {
  /* line 64, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote {
    right: 0;
    top: 20px;
  }
}
/* line 97, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote p {
  font-family: "Oleo Script", Arial, sans-serif;
  font-weight: 100;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  text-shadow: 1px 1px #333333;
  line-height: 1.5em;
}
/* line 106, ../sass/4_Regions/_footer.scss */
footer section.illustration blockquote strong {
  color: #3d3c3e;
  font-size: 15px;
  font-size: 1.15385rem;
  line-height: 18.75px;
  line-height: 1.44231rem;
  font-weight: 100;
  text-shadow: 1px 1px 1px white;
}
@media screen and (max-width: 650px) {
  /* line 114, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote p {
    font-size: 14px;
    font-size: 1.07692rem;
    line-height: 17.5px;
    line-height: 1.34615rem;
  }
  /* line 117, ../sass/4_Regions/_footer.scss */
  footer section.illustration blockquote strong {
    font-size: 14px;
    font-size: 1.07692rem;
    line-height: 17.5px;
    line-height: 1.34615rem;
  }
}

/* line 6, ../sass/4_Regions/_header.scss */
header.outer-wrapper {
  background-image: linear-gradient(-180deg, #ffffff 63%, #f8f9ef 100%);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  height: 50px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
/* line 17, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row {
  margin: 0;
}
/* line 21, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo {
  animation: slide 5s 1s;
  float: left;
  margin: 4px 0;
  max-width: 135px;
  min-width: 135px;
  width: 14.0625%;
}
/* line 29, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo a {
  display: block;
}
/* line 31, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .logo a:hover {
  opacity: 0.4;
  transition: .3s;
}
/* line 39, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social {
  float: right;
  overflow: hidden;
  padding: 0;
  transition: .3s;
  width: 7.29167%;
}
@media screen and (max-width: 1145px) {
  /* line 39, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 13.02083%;
  }
}
@media screen and (max-width: 650px) {
  /* line 39, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 15.625%;
  }
}
@media screen and (max-width: 545px) {
  /* line 39, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 20.83333%;
  }
}
@media screen and (max-width: 410px) {
  /* line 39, ../sass/4_Regions/_header.scss */
  header.outer-wrapper .inner-header .row .social {
    width: 31.25%;
  }
}
/* line 62, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li {
  float: left;
  list-style: none;
  margin-right: 10%;
}
/* line 67, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li:last-child {
  margin-right: 0;
}
/* line 71, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li:hover span {
  color: #3d3c3e;
  transition: .3s;
}
/* line 78, ../sass/4_Regions/_header.scss */
header.outer-wrapper .inner-header .row .social li span {
  color: #1bceff;
  font-size: 16px;
  font-size: 1.23077rem;
  line-height: 20px;
  line-height: 1.53846rem;
}

/* line 6, ../sass/4_Regions/_hero.scss */
section.hero {
  background: -webkit-linear-gradient(top, #1be9d6, #039be5);
  background: -o-linear-gradient(top, #1be9d6, #039be5);
  background: -moz-linear-gradient(top, #1be9d6, #039be5);
  overflow: hidden;
  transition: .3s;
}
/* line 14, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner-outer {
  background: rgba(255, 255, 255, 0.15);
  padding-bottom: 85px;
}
/* line 17, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner-outer.hero-skills {
  display: none;
}
/* line 21, ../sass/4_Regions/_hero.scss */
section.hero div.pixel-table-animation {
  margin-top: -85px;
}
/* line 25, ../sass/4_Regions/_hero.scss */
section.hero div.pixel-table-animation .testTubeFade, section.hero div.pixel-table-animation .bubbleShift {
  animation: testTubeFade 2s infinite linear;
  animation-direction: alternate;
}
/* line 31, ../sass/4_Regions/_hero.scss */
section.hero div.pixel-table-animation .liquidMove {
  animation: liquidMove 1s infinite linear;
  stroke: #333;
  stroke-opacity: .3;
  stroke-dasharray: 2;
  stroke-linecap: round;
  stroke-width: 1px;
}
/* line 45, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner.hero-top {
  padding-top: 75px;
  margin-bottom: 0;
}
/* line 50, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner.hero-bottom {
  background: #0b3f4d;
  border-radius: 15px;
  margin: -50px auto 65px auto;
  padding: 2.60417%;
}
/* line 59, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner div.hero-blurb h1 {
  animation: inOut 3s infinite linear;
  color: #5A7786;
  font-family: "Oswald", sans-serif;
  font-size: 58px;
  font-size: 4.46154rem;
  line-height: 72.5px;
  line-height: 5.57692rem;
  font-weight: 400;
  letter-spacing: 0.12em;
  margin: 0;
  text-shadow: 1px 1px 2px #FDFEFC;
}
/* line 69, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner div.hero-blurb h2 {
  font-family: "Roboto", sans-serif;
  font-size: 38px;
  font-size: 2.92308rem;
  line-height: 47.5px;
  line-height: 3.65385rem;
  font-weight: 100;
  line-height: 1.6em;
  margin: 15px 0 5px 0;
  text-shadow: 1px 1px 0.5px rgba(23, 16, 16, 0.2);
}
/* line 78, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner div.hero-blurb h2 span.dev {
  border-bottom: 1px dotted #0b3f4d;
  font-family: monospace;
  color: #3d3c3e;
}
/* line 83, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner div.hero-blurb h2 span.designer {
  color: #0b3f4d;
  font-family: "Lobster", sans-serif;
  position: relative;
}
/* line 88, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner div.hero-blurb h2 span.designer:after {
  background: rgba(255, 255, 255, 0.2);
  content: " ";
  height: 55px;
  left: -5px;
  position: absolute;
  padding: 0 5px;
  top: 9px;
  width: 100%;
}
/* line 106, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner .callout.intro {
  animation-delay: 3s;
  position: relative;
}
/* line 110, ../sass/4_Regions/_hero.scss */
section.hero .hero-inner .callout.intro p {
  color: white;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 21px;
  font-size: 1.61538rem;
  line-height: 26.25px;
  line-height: 2.01923rem;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0;
  text-shadow: 1px 1px 1px #636161;
}

/* line 6, ../sass/4_Regions/_nav.scss */
nav {
  background: white;
  -moz-box-shadow: 1px 1px 1px #3d3c3e;
  -webkit-box-shadow: 1px 1px 1px #3d3c3e;
  box-shadow: 1px 1px 1px #3d3c3e;
  height: 45px;
  position: fixed;
  top: 120px;
  width: 45px;
  z-index: 2000;
}
/* line 16, ../sass/4_Regions/_nav.scss */
nav:hover {
  background: #3d3c3e;
  transition: .3s;
}
/* line 21, ../sass/4_Regions/_nav.scss */
nav:hover #hidden-menu-icon span {
  background: #1be9d6;
}
/* line 27, ../sass/4_Regions/_nav.scss */
nav div.inner-nav {
  background: black;
  background-image: linear-gradient(-180deg, #3d3c3e 39%, #0b3f4d 100%);
  -moz-box-shadow: 1px 3px 15px 1px #3d3c3e;
  -webkit-box-shadow: 1px 3px 15px 1px #3d3c3e;
  box-shadow: 1px 3px 15px 1px #3d3c3e;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 50px;
  width: 200px;
}
/* line 38, ../sass/4_Regions/_nav.scss */
nav div.inner-nav.open {
  display: block;
  left: 0;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  -o-transition: .35s ease-in-out;
}
@media screen and (max-width: 535px) {
  /* line 38, ../sass/4_Regions/_nav.scss */
  nav div.inner-nav.open {
    width: 100%;
  }
}
@keyframes slideUp {
  /* line 54, ../sass/4_Regions/_nav.scss */
  nav div.inner-nav from {
    left: -300px;
    opacity: 0;
  }
  /* line 58, ../sass/4_Regions/_nav.scss */
  nav div.inner-nav to {
    left: 0;
    opacity: 1;
  }
}
/* line 64, ../sass/4_Regions/_nav.scss */
nav div.inner-nav figure.dots {
  animation: slideUp 1s infinite cubic-bezier(0.87, 0.18, 1, 1);
  position: relative;
}
/* line 68, ../sass/4_Regions/_nav.scss */
nav div.inner-nav figure.dots svg {
  transition: .3s;
}
/* line 73, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list {
  margin: 0;
  padding: 0;
}
/* line 79, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li {
  color: white;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 24px;
  font-size: 1.84615rem;
  line-height: 30px;
  line-height: 2.30769rem;
  font-weight: 500;
  list-style: none;
}
/* line 94, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li.close-nav {
  height: 40px;
  position: absolute;
  right: -40px;
  transform: translateY(-15%);
  top: 15%;
  width: 40px;
}
@media screen and (max-width: 535px) {
  /* line 94, ../sass/4_Regions/_nav.scss */
  nav div.inner-nav ul.nav-list li.close-nav {
    right: 0;
    top: 0;
    transform: translateY(0);
  }
}
/* line 108, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li.close-nav button {
  background: #3d3c3e;
  border: 0;
  color: #1be9d6;
  font-family: "Quicksand", Arial, sans-serif;
  font-size: 18px;
  font-size: 1.38462rem;
  line-height: 22.5px;
  line-height: 1.73077rem;
  font-weight: 800;
}
/* line 116, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li.close-nav button:hover {
  background: #3d3c3e;
  color: #1bceff;
}
/* line 125, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li a {
  border-bottom: 1px dotted #1bceff;
  display: block;
  padding: 15px 6.25%;
  transition: 0.3s;
}
@media screen and (max-width: 535px) {
  /* line 125, ../sass/4_Regions/_nav.scss */
  nav div.inner-nav ul.nav-list li a {
    text-align: center;
  }
}
/* line 136, ../sass/4_Regions/_nav.scss */
nav div.inner-nav ul.nav-list li a:hover {
  color: #1be9d6;
  padding-left: 10%;
  transition: .3s;
}
/* line 148, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon {
  cursor: pointer;
  float: right;
  height: 35px;
  margin: 12px 8px 0 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  width: 30px;
}
/* line 165, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span {
  background: #3d3c3e;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  width: 100%;
}
/* line 182, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(1) {
  top: 0;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 189, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 196, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
/* line 209, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(1) {
  left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  width: 40px;
}
/* line 218, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(2) {
  opacity: 0;
  width: 0;
}
/* line 222, ../sass/4_Regions/_nav.scss */
nav #hidden-menu-icon.open span:nth-child(3) {
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 26px;
  width: 40px;
}

/* line 239, ../sass/4_Regions/_nav.scss */
main.shift {
  overflow: hidden;
  transition: 0;
  transform: translate3d(350px, 0, 0);
  -wekbit-transform: translate3d(350px, 0, 0);
  -moz-transform: translate3d(350px, 0, 0);
}

/* line 6, ../sass/4_Regions/_region.scss */
.scene {
  position: relative;
  -webkit-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  transform: translate(0, 50px);
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
  transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
  -webkit-transition-timing-function: cubic-bezier(0.615, 0.19, 0.305, 0.91);
  transition-timing-function: cubic-bezier(0.615, 0.19, 0.305, 0.91);
}
/* line 18, ../sass/4_Regions/_region.scss */
.scene.visible {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1;
  filter: alpha(opacity=100);
}

/* line 6, ../sass/6_Pages/_404.scss */
.page-not-found {
  background-image: none !important;
  height: initial !important;
}
/* line 10, ../sass/6_Pages/_404.scss */
.page-not-found .sad-face {
  vertical-align: -3px;
}
/* line 18, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four {
  margin: 100px 0 0 0;
}
@media screen and (max-width: 960px) {
  /* line 18, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four {
    margin-top: 0;
    transition: 1s;
  }
  /* line 25, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four figure.face {
    display: none;
    transition: .5s;
  }
}
/* line 32, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message {
  margin-top: 120px;
  padding: 50px;
}
/* line 36, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message img {
  display: none;
  margin: 50px auto 0;
  width: 80%;
}
@media screen and (max-width: 960px) {
  /* line 32, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message {
    margin-top: 50px;
    padding: 0;
    transition: .5s;
    width: 100%;
  }
  /* line 48, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message img {
    display: block;
  }
}
/* line 54, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message ul {
  color: white;
}
/* line 58, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message a.home {
  background: #3d3c3e;
  margin-top: 25px;
  width: 50%;
}
/* line 63, ../sass/6_Pages/_404.scss */
.page-not-found .hero-inner .hero-content.four-oh-four .message a.home:hover {
  background: #3c3b3d;
}
@media screen and (max-width: 960px) {
  /* line 58, ../sass/6_Pages/_404.scss */
  .page-not-found .hero-inner .hero-content.four-oh-four .message a.home {
    transition: .3s;
    width: 100%;
  }
}

/* line 5, ../sass/6_Pages/_hero.scss */
section.hero {
  height: 100%;
  min-height: 100%;
}
/* line 12, ../sass/6_Pages/_hero.scss */
section.hero .inner-callouts .callout:last-child {
  margin-right: 0;
}
/* line 19, ../sass/6_Pages/_hero.scss */
section.hero .bottom-callouts .callout:last-child {
  margin-right: 0;
}

/* line 23, ../sass/screen.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 27, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 31, ../sass/screen.scss */
body {
  background: #039be5;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 12px;
  font-size: 0.92308rem;
  line-height: 15px;
  line-height: 1.15385rem;
  line-height: 1.5em;
}

/* line 41, ../sass/screen.scss */
::-webkit-scrollbar {
  width: 8px;
}

/* line 45, ../sass/screen.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/* line 49, ../sass/screen.scss */
::-webkit-scrollbar-track {
  background: #3d3c3e;
  -webkit-box-shadow: inset 0 0 1px #039be5;
  border-radius: 10px;
}

/* line 55, ../sass/screen.scss */
::-webkit-scrollbar-thumb {
  background: #1bceff;
  border-radius: 10px;
  stroke: 1px solid #1be9d6;
}

/* line 62, ../sass/screen.scss */
a {
  color: white;
  text-decoration: none;
}
